In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

import pandas as pd
from scripts.utils import add_claim_flags
from scripts.statistics import t_test_numeric, anova_numeric, z_test_proportions

Load and Prepare Data

In [2]:
df = pd.read_csv("../data/MachineLearningRating_v3.txt", sep="|", engine="python", on_bad_lines="skip")
df = add_claim_flags(df)
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,HasClaim,Margin
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,False,21.929825
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,False,21.929825
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,False,0.000000
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0,False,512.848070
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,False,0.000000

In [5]:
_, p = anova_numeric(df, 'Province', 'HasClaim')
print(f"[Province Risk] ANOVA p = {p:.4f}")

[Province Risk] ANOVA p = 0.0000

In [ ]:
# Choose 2 common zipcodes
zip1, zip2 = 1459, 7500
stat, p = z_test_proportions(df, 'PostalCode', zip1, zip2)
print(f"[Zip Risk] Z-Test ({zip1} vs {zip2}) p = {p:.4f}")

In [7]:
_, p = t_test_numeric(df, 'PostalCode', 'Margin', zip1, zip2)
print(f"[Zip Margin] T-Test ({zip1} vs {zip2}) p = {p:.4f}")

[Zip Margin] T-Test (1459 vs 7500) p = 0.9256

In [8]:
_, p = z_test_proportions(df, 'Gender', 'Male', 'Female')
print(f"[Gender Risk] Z-Test p = {p:.4f}")

[Gender Risk] Z-Test p = 0.8405